.page-header(id="promo")
  header.page-header__top
    .page-header__container
      .logo
        img(src="img/logo_white.png" width="68" height="67" alt="Change picture")
        h1.logo-text
          span Проект «Вызов» — 
          | Выездной тренинг личностного роста для подростков 14-17 лет
      .page-header__contacts
        a(href="tel:+7(981)7845058").page-header__phone +7&nbsp;(981)&nbsp;784-50-58
        ul.social
          li.social__item
            a(href="https://vk.com/challengecampspb" aria-label="Мы в ВКонтакте" target="_blank").social__link.social__link--vk
          li.social__item
            a(href="https://www.instagram.com/challengecampspb/" aria-label="Мы в Инстаграме" target="_blank").social__link.social__link--instagram
      .main-nav
        button.main-nav__trigger.main-nav__trigger--nojs(type="button" aria-label="Основное меню")
          span
        nav.main-nav__dropdown
          ul.main-nav__list
            li
              a(href="#promo").main-nav__link Начало
            li
              a(href="#about").main-nav__link Что такое «Вызов»
            li
              a(href="#programs").main-nav__link Программа выезда
            li
              a(href="#results").main-nav__link Результаты
            li
              a(href="#questions").main-nav__link Важные вопросы
            li
              a(href="#participate").main-nav__link Принять участие
            li
              a(href="#contacts").main-nav__link Контакты
  section.promo
    h2.promo__slogan Каникулы с&nbsp;пользой
    p.promo__text Лагерь только для подростков. Выездной тренинг личностного роста для подростков от&nbsp;14&nbsp;до&nbsp;17&nbsp;лет. Каждые каникулы мы отправляемся в&nbsp;путешествие! Лагерь только для&nbsp;подростков. Выездной тренинг личностного роста для&nbsp;подростков.
    a(href="#participate").promo__participate-btn Принять участие
    p.promo__next-trip Следующий «Вызов» в 2018: 
      b.promo__place Минск, с 24 марта по 1 апреля
