section.results(id="results")
  h2.results__title Результаты
  .results__container.swiper-container 
    .swiper-wrapper 
      .swiper-slide
        a(href="#" data-tab="result1").results__item
          img(src="img/result_1.jpg" alt="" width="176" height="176")
      .swiper-slide
        a(href="#" data-tab="result2").results__item
          img(src="img/result_2.jpg" alt="" width="176" height="176")
      .swiper-slide
        a(href="#" data-tab="result3").results__item
          img(src="img/result_3.jpg" alt="" width="176" height="176")
      .swiper-slide
        a(href="#" data-tab="result4").results__item
          img(src="img/result_4.jpg" alt="" width="176" height="176")
      .swiper-slide
        a(href="#" data-tab="result5").results__item
          img(src="img/result_5.jpg" alt="" width="176" height="176")
      .swiper-slide
        a(href="#" data-tab="result6").results__item
          img(src="img/result_6.jpg" alt="" width="176" height="176")
      .swiper-slide
        a(href="#" data-tab="result7").results__item
          img(src="img/result_1.jpg" alt="" width="176" height="176")
      .swiper-slide
        a(href="#" data-tab="result8").results__item
          img(src="img/result_2.jpg" alt="" width="176" height="176")
      .swiper-slide
        a(href="#" data-tab="result9").results__item
          img(src="img/result_3.jpg" alt="" width="176" height="176")
      .swiper-slide
        a(href="#" data-tab="result10").results__item
          img(src="img/result_4.jpg" alt="" width="176" height="176")
      .swiper-slide
        a(href="#" data-tab="result11").results__item
          img(src="img/result_5.jpg" alt="" width="176" height="176")

    .swiper-button-next
    .swiper-button-prev
  .swiper-scrollbar
  .results__social
    .results__social-links
      a(href="https://vk.com/challengecampspb" aria-label="Мы в ВКонтакте").results__social-link.results__social-link--vk
      a(href="https://www.instagram.com/challengecampspb" aria-label="Мы в Инстаграме").results__social-link.results__social-link--instagram
    .results__social-tags
      a(href="https://www.instagram.com/explore/tags/challengecampspb").results__social-tag-link #challengecampspb
      a(href="https://www.instagram.com/explore/tags/вызов_отзыв").results__social-tag-link #вызов_отзыв
