.results-popup
  button(type="button" aria-label="Закрыть").results-popup__button-close 
  button(type="button" aria-label="Назад").results-popup__button-prev 
  button(type="button" aria-label="Вперед").results-popup__button-next 
  .results-popup__list
    .results-popup__block(id="result1")
      .results-popup__top
        .results-popup__image
          img(src="img/result_4.jpg" alt="Change picture")
        .results-popup__bio
          .results-popup__name Совья Семенова
          p.results-popup__place
            i 17 лет, город Сыктывкар
      .results-popup__description
        p Мне всегда казалось, что самостоятельность —это моя сильная сторона, я находилась в иллюзии. А вот когда ты встаёшь сама, покупаешь себе и готовишь еду сама, планируешь свой день сама, со всеми договариваешься сама — вот они жестокие, но невероятно интересные реалии!
        p Нам, разумеется, помогали, ну как... если это сравнить с тем, что тебя выбросили из вертолета в тайгу, нам дали ещё злаковый батончик и ружьё, я думаю, вы поняли меня)) 
      a(href="#" target="_blank" rel="nofollow").results-popup__ask-btn Задать участнику вопрос

    .results-popup__block(id="result2")
      .results-popup__top
        .results-popup__image
          img(src="img/result_1.jpg" alt="Change picture")
        .results-popup__bio
          .results-popup__name Совья Семенова
          p.results-popup__place
            i 17 лет, город Сыктывкар
      .results-popup__description
        p Мне всегда казалось, что самостоятельность —это моя сильная сторона, я находилась в иллюзии. А вот когда ты встаёшь сама, покупаешь себе и готовишь еду сама, планируешь свой день сама, со всеми договариваешься сама — вот они жестокие, но невероятно интересные реалии!
        p Нам, разумеется, помогали, ну как... если это сравнить с тем, что тебя выбросили из вертолета в тайгу, нам дали ещё злаковый батончик и ружьё, я думаю, вы поняли меня)) 
      a(href="#" target="_blank" rel="nofollow").results-popup__ask-btn Задать участнику вопрос
    .results-popup__block(id="result3")
      .results-popup__top
        .results-popup__image
          img(src="img/result_4.jpg" alt="Change picture")
        .results-popup__bio
          .results-popup__name Совья Семенова
          p.results-popup__place
            i 17 лет, город Сыктывкар
      .results-popup__description
        p Мне всегда казалось, что самостоятельность —это моя сильная сторона, я находилась в иллюзии. А вот когда ты встаёшь сама, покупаешь себе и готовишь еду сама, планируешь свой день сама, со всеми договариваешься сама — вот они жестокие, но невероятно интересные реалии!
        p Нам, разумеется, помогали, ну как... если это сравнить с тем, что тебя выбросили из вертолета в тайгу, нам дали ещё злаковый батончик и ружьё, я думаю, вы поняли меня)) 
      a(href="#" target="_blank" rel="nofollow").results-popup__ask-btn Задать участнику вопрос
    .results-popup__block(id="result4")
      .results-popup__top
        .results-popup__image
          img(src="img/result_3.jpg" alt="Change picture")
        .results-popup__bio
          .results-popup__name Совья Семенова
          p.results-popup__place
            i 17 лет, город Сыктывкар
      .results-popup__description
        p Мне всегда казалось, что самостоятельность —это моя сильная сторона, я находилась в иллюзии. А вот когда ты встаёшь сама, покупаешь себе и готовишь еду сама, планируешь свой день сама, со всеми договариваешься сама — вот они жестокие, но невероятно интересные реалии!
        p Нам, разумеется, помогали, ну как... если это сравнить с тем, что тебя выбросили из вертолета в тайгу, нам дали ещё злаковый батончик и ружьё, я думаю, вы поняли меня)) 
      a(href="#" target="_blank" rel="nofollow").results-popup__ask-btn Задать участнику вопрос
    .results-popup__block(id="result5")
      .results-popup__top
        .results-popup__image
          img(src="img/result_1.jpg" alt="Change picture")
        .results-popup__bio
          .results-popup__name Совья Семенова
          p.results-popup__place
            i 17 лет, город Сыктывкар
      .results-popup__description
        p Мне всегда казалось, что самостоятельность —это моя сильная сторона, я находилась в иллюзии. А вот когда ты встаёшь сама, покупаешь себе и готовишь еду сама, планируешь свой день сама, со всеми договариваешься сама — вот они жестокие, но невероятно интересные реалии!
        p Нам, разумеется, помогали, ну как... если это сравнить с тем, что тебя выбросили из вертолета в тайгу, нам дали ещё злаковый батончик и ружьё, я думаю, вы поняли меня)) 
      a(href="#" target="_blank" rel="nofollow").results-popup__ask-btn Задать участнику вопрос
    .results-popup__block(id="result6")
      .results-popup__top
        .results-popup__image
          img(src="img/result_3.jpg" alt="Change picture")
        .results-popup__bio
          .results-popup__name Совья Семенова
          p.results-popup__place
            i 17 лет, город Сыктывкар
      .results-popup__description
        p Мне всегда казалось, что самостоятельность —это моя сильная сторона, я находилась в иллюзии. А вот когда ты встаёшь сама, покупаешь себе и готовишь еду сама, планируешь свой день сама, со всеми договариваешься сама — вот они жестокие, но невероятно интересные реалии!
        p Нам, разумеется, помогали, ну как... если это сравнить с тем, что тебя выбросили из вертолета в тайгу, нам дали ещё злаковый батончик и ружьё, я думаю, вы поняли меня)) 
      a(href="#" target="_blank" rel="nofollow").results-popup__ask-btn Задать участнику вопрос
    .results-popup__block(id="result7")
      .results-popup__top
        .results-popup__image
          img(src="img/result_1.jpg" alt="Change picture")
        .results-popup__bio
          .results-popup__name Совья Семенова
          p.results-popup__place
            i 17 лет, город Сыктывкар
      .results-popup__description
        p Мне всегда казалось, что самостоятельность —это моя сильная сторона, я находилась в иллюзии. А вот когда ты встаёшь сама, покупаешь себе и готовишь еду сама, планируешь свой день сама, со всеми договариваешься сама — вот они жестокие, но невероятно интересные реалии!
        p Нам, разумеется, помогали, ну как... если это сравнить с тем, что тебя выбросили из вертолета в тайгу, нам дали ещё злаковый батончик и ружьё, я думаю, вы поняли меня)) 
      a(href="#" target="_blank" rel="nofollow").results-popup__ask-btn Задать участнику вопрос
    .results-popup__block(id="result8")
      .results-popup__top
        .results-popup__image
          img(src="img/result_4.jpg" alt="Change picture")
        .results-popup__bio
          .results-popup__name Совья Семенова
          p.results-popup__place
            i 17 лет, город Сыктывкар
      .results-popup__description
        p Мне всегда казалось, что самостоятельность —это моя сильная сторона, я находилась в иллюзии. А вот когда ты встаёшь сама, покупаешь себе и готовишь еду сама, планируешь свой день сама, со всеми договариваешься сама — вот они жестокие, но невероятно интересные реалии!
        p Нам, разумеется, помогали, ну как... если это сравнить с тем, что тебя выбросили из вертолета в тайгу, нам дали ещё злаковый батончик и ружьё, я думаю, вы поняли меня)) 
      a(href="#" target="_blank" rel="nofollow").results-popup__ask-btn Задать участнику вопрос
    .results-popup__block(id="result9")
      .results-popup__top
        .results-popup__image
          img(src="img/result_3.jpg" alt="Change picture")
        .results-popup__bio
          .results-popup__name Совья Семенова
          p.results-popup__place
            i 17 лет, город Сыктывкар
      .results-popup__description
        p Мне всегда казалось, что самостоятельность —это моя сильная сторона, я находилась в иллюзии. А вот когда ты встаёшь сама, покупаешь себе и готовишь еду сама, планируешь свой день сама, со всеми договариваешься сама — вот они жестокие, но невероятно интересные реалии!
        p Нам, разумеется, помогали, ну как... если это сравнить с тем, что тебя выбросили из вертолета в тайгу, нам дали ещё злаковый батончик и ружьё, я думаю, вы поняли меня)) 
      a(href="#" target="_blank" rel="nofollow").results-popup__ask-btn Задать участнику вопрос
    .results-popup__block(id="result10")
      
      .results-popup__top
        .results-popup__image
          img(src="img/result_1.jpg" alt="Change picture")
        .results-popup__bio
          .results-popup__name Совья Семенова
          p.results-popup__place
            i 17 лет, город Сыктывкар
      .results-popup__description
        p Мне всегда казалось, что самостоятельность —это моя сильная сторона, я находилась в иллюзии. А вот когда ты встаёшь сама, покупаешь себе и готовишь еду сама, планируешь свой день сама, со всеми договариваешься сама — вот они жестокие, но невероятно интересные реалии!
        p Нам, разумеется, помогали, ну как... если это сравнить с тем, что тебя выбросили из вертолета в тайгу, нам дали ещё злаковый батончик и ружьё, я думаю, вы поняли меня)) 
      a(href="#" target="_blank" rel="nofollow").results-popup__ask-btn Задать участнику вопрос
    .results-popup__block(id="result11")
      
      .results-popup__top
        .results-popup__image
          img(src="img/result_2.jpg" alt="Change picture")
        .results-popup__bio
          .results-popup__name Совья Семенова
          p.results-popup__place
            i 17 лет, город Сыктывкар
      .results-popup__description
        p Мне всегда казалось, что самостоятельность —это моя сильная сторона, я находилась в иллюзии. А вот когда ты встаёшь сама, покупаешь себе и готовишь еду сама, планируешь свой день сама, со всеми договариваешься сама — вот они жестокие, но невероятно интересные реалии!
        p Нам, разумеется, помогали, ну как... если это сравнить с тем, что тебя выбросили из вертолета в тайгу, нам дали ещё злаковый батончик и ружьё, я думаю, вы поняли меня)) 
      a(href="#" target="_blank" rel="nofollow").results-popup__ask-btn Задать участнику вопрос
