section.results(id="results")
  h2.results__title Результаты
  .results__container.swiper-container 
    .swiper-wrapper 
      .swiper-slide
        a(href="#" data-tab="result1").results__item
          img(src="img/result_1.jpg" width="176" height="176")
      .swiper-slide
        a(href="#" data-tab="result2").results__item
          img(src="img/result_2.jpg" width="176" height="176")
      .swiper-slide
        a(href="#" data-tab="result3").results__item
          img(src="img/result_3.jpg" width="176" height="176")
      .swiper-slide
        a(href="#" data-tab="result4").results__item
          img(src="img/result_4.jpg" width="176" height="176")
      .swiper-slide
        a(href="#" data-tab="result5").results__item
          img(src="img/result_5.jpg" width="176" height="176")
      .swiper-slide
        a(href="#" data-tab="result6").results__item
          img(src="img/result_6.jpg" width="176" height="176")
      .swiper-slide
        a(href="#" data-tab="result7").results__item
          img(src="img/result_1.jpg" width="176" height="176")
      .swiper-slide
        a(href="#" data-tab="result8").results__item
          img(src="img/result_2.jpg" width="176" height="176")
      .swiper-slide
        a(href="#" data-tab="result9").results__item
          img(src="img/result_3.jpg" width="176" height="176")
      .swiper-slide
        a(href="#" data-tab="result10").results__item
          img(src="img/result_4.jpg" width="176" height="176")
      .swiper-slide
        a(href="#" data-tab="result11").results__item
          img(src="img/result_5.jpg" width="176" height="176")

    .swiper-button-next
    .swiper-button-prev
  .swiper-scrollbar
  .results__socials
   
