section.photos(id="photos")
  h2.photos__title Фотогалерея
  .swiper-container
    ul.swiper-wrapper
      li.swiper-slide
        a(href="img/photo_8_4.jpg" data-lightbox="challenge-photos")
          img(src="img/photo_8_3.jpg")
      li.swiper-slide
        a(href="img/photo_8_4.jpg" data-lightbox="challenge-photos")
          img(src="img/photo_8_3.jpg")
      li.swiper-slide
        a(href="img/photo_8_4.jpg" data-lightbox="challenge-photos")
          img(src="img/photo_8_3.jpg")
      li.swiper-slide
        a(href="img/photo_8_4.jpg" data-lightbox="challenge-photos")
          img(src="img/photo_8_3.jpg")
      li.swiper-slide
        a(href="img/photo_8_4.jpg" data-lightbox="challenge-photos")
          img(src="img/photo_8_3.jpg")
      li.swiper-slide
        a(href="img/photo_8_3.jpg" data-lightbox="challenge-photos")
          img(src="img/photo_8_3.jpg")
      li.swiper-slide
        a(href="img/photo_8_3.jpg" data-lightbox="challenge-photos")
          img(src="img/photo_8_3.jpg")
      li.swiper-slide
        a(href="img/photo_8_3.jpg" data-lightbox="challenge-photos")
          img(src="img/photo_8_3.jpg")
      li.swiper-slide
        a(href="img/photo_8_3.jpg" data-lightbox="challenge-photos")
          img(src="img/photo_8_3.jpg")
      li.swiper-slide
        a(href="img/photo_8_3.jpg" data-lightbox="challenge-photos")
          img(src="img/photo_8_3.jpg")
    .swiper-button-next
    .swiper-button-prev
    .swiper-pagination
