section.photos(id="photos")
  h2.photos__title Фотогалерея
  .swiper-container
    ul.swiper-wrapper
      li.swiper-slide
        a(href="img/photo_8_4.jpg" data-lightbox="challenge-photos")
          img(src="img/photo_8_3.jpg" alt="Change picture")
          .photos__description
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500
      li.swiper-slide
        a(href="img/photo_8_4.jpg" data-lightbox="challenge-photos")
          img(src="img/photo_8_3.jpg" alt="Change picture")
          .photos__description
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500
      li.swiper-slide
        a(href="img/photo_8_4.jpg" data-lightbox="challenge-photos")
          img(src="img/photo_8_3.jpg" alt="Change picture")
          .photos__description
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
      li.swiper-slide
        a(href="img/photo_8_4.jpg" data-lightbox="challenge-photos")
          img(src="img/photo_8_3.jpg" alt="Change picture")
          .photos__description
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
      li.swiper-slide
        a(href="img/photo_8_4.jpg" data-lightbox="challenge-photos")
          img(src="img/photo_8_3.jpg" alt="Change picture")
          .photos__description
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
      li.swiper-slide
        a(href="img/photo_8_3.jpg" data-lightbox="challenge-photos")
          img(src="img/photo_8_3.jpg" alt="Change picture")
          .photos__description
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
      li.swiper-slide
        a(href="img/photo_8_3.jpg" data-lightbox="challenge-photos")
          img(src="img/photo_8_3.jpg" alt="Change picture")
          .photos__description
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
      li.swiper-slide
        a(href="img/photo_8_3.jpg" data-lightbox="challenge-photos")
          img(src="img/photo_8_3.jpg" alt="Change picture")
          .photos__description
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
      li.swiper-slide
        a(href="img/photo_8_3.jpg" data-lightbox="challenge-photos")
          img(src="img/photo_8_3.jpg" alt="Change picture")
          .photos__description
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
      li.swiper-slide
        a(href="img/photo_8_3.jpg" data-lightbox="challenge-photos")
          img(src="img/photo_8_3.jpg" alt="Change picture")
          .photos__description
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
    .swiper-button-next
    .swiper-button-prev
    .swiper-pagination
