footer.page-footer
  .page-footer__container
    .page-footer__ip © ИП Макеев Валентин Артемович ИНН&nbsp;7728168971&nbsp;ОГРН&nbsp;1027700067328  
    a(href="#" target="_blank").page-footer__offer Договор оферты
    a(href="#" target="_blank").page-footer__policy Политика конфиденциальности
