.tutors-popup
  button(type="button" aria-label="Закрыть").tutors-popup__button-close 
  button(type="button" aria-label="Назад").tutors-popup__button-prev 
  button(type="button" aria-label="Вперед").tutors-popup__button-next

  .tutors-popup__list
    .tutors-popup__block(id="tutor1")
      
      .tutors-popup__top
        .tutors-popup__image
          img(src="img/photo_7_1.png")
        .tutors-popup__bio
          .tutors-popup__name Ангелина Исаева
          p.tutors-popup__job
            i Спортсменка, отличница, умница, мать, друг, магистр, хороший человек

      .tutors-popup__description
        p Когда я была подростком, меня постоянно во всём ограничивали и ставили в рамки. На простой вопрос: «Почему мне нельзя поехать с ребятами?», я всегда получала далеко не замысловатый ответ: «Потому что я так сказала!». А я злилась, грустила и ругалась! 
        p Сейчас я выросла, и понимаю, что многочисленных «подростковых драм и слёз» можно было бы избежать, учась мы РАЗГОВАРИВАТЬ друг с другом.
        b Почему это важно?
        p Я работаю с подростками более 6 лет и часто сталкиваюсь с тем, как они говорят, что их никто не понимает, и они абсолютно не знают, что с этим делать! Я узнаю в них себя в том возрасте и хочу помочь. 
        p Я знаю, что с помощью правильных слов, мыслей и поступков, можно шаг за шагом выстроить здоровые и гармоничные отношения с близкими людьми, учась уважать интересы и потребности друг друга. 

    .tutors-popup__block(id="tutor2")
      .tutors-popup__top
        .tutors-popup__image
          img(src="img/photo_7_2.png")
        .tutors-popup__bio
          .tutors-popup__name Валерий Астанчук
          p.tutors-popup__job
            i Спортсменка, отличница, умница, мать, друг, магистр, хороший человек

      .tutors-popup__description
        p Когда я была подростком, меня постоянно во всём ограничивали и ставили в рамки. На простой вопрос: «Почему мне нельзя поехать с ребятами?», я всегда получала далеко не замысловатый ответ: «Потому что я так сказала!». А я злилась, грустила и ругалась! 
        p Сейчас я выросла, и понимаю, что многочисленных «подростковых драм и слёз» можно было бы избежать, учась мы РАЗГОВАРИВАТЬ друг с другом.
        b Почему это важно?
        p Я работаю с подростками более 6 лет и часто сталкиваюсь с тем, как они говорят, что их никто не понимает, и они абсолютно не знают, что с этим делать! Я узнаю в них себя в том возрасте и хочу помочь. 
        p Я знаю, что с помощью правильных слов, мыслей и поступков, можно шаг за шагом выстроить здоровые и гармоничные отношения с близкими людьми, учась уважать интересы и потребности друг друга. 
    .tutors-popup__block(id="tutor3")
      .tutors-popup__top
        .tutors-popup__image
          img(src="img/photo_7_3.png")
        .tutors-popup__bio
          .tutors-popup__name Валентин Макеев
          p.tutors-popup__job
            i Спортсменка, отличница, умница, мать, друг, магистр, хороший человек

      .tutors-popup__description
        p Когда я была подростком, меня постоянно во всём ограничивали и ставили в рамки. На простой вопрос: «Почему мне нельзя поехать с ребятами?», я всегда получала далеко не замысловатый ответ: «Потому что я так сказала!». А я злилась, грустила и ругалась! 
        p Сейчас я выросла, и понимаю, что многочисленных «подростковых драм и слёз» можно было бы избежать, учась мы РАЗГОВАРИВАТЬ друг с другом.
        b Почему это важно?
        p Я работаю с подростками более 6 лет и часто сталкиваюсь с тем, как они говорят, что их никто не понимает, и они абсолютно не знают, что с этим делать! Я узнаю в них себя в том возрасте и хочу помочь. 
        p Я знаю, что с помощью правильных слов, мыслей и поступков, можно шаг за шагом выстроить здоровые и гармоничные отношения с близкими людьми, учась уважать интересы и потребности друг друга. 
    .tutors-popup__block(id="tutor4")
      .tutors-popup__top
        .tutors-popup__image
          img(src="img/photo_7_4.png")
        .tutors-popup__bio
          .tutors-popup__name Влад Никифоров
          p.tutors-popup__job
            i Спортсменка, отличница, умница, мать, друг, магистр, хороший человек

      .tutors-popup__description
        p Когда я была подростком, меня постоянно во всём ограничивали и ставили в рамки. На простой вопрос: «Почему мне нельзя поехать с ребятами?», я всегда получала далеко не замысловатый ответ: «Потому что я так сказала!». А я злилась, грустила и ругалась! 
        p Сейчас я выросла, и понимаю, что многочисленных «подростковых драм и слёз» можно было бы избежать, учась мы РАЗГОВАРИВАТЬ друг с другом.
        b Почему это важно?
        p Я работаю с подростками более 6 лет и часто сталкиваюсь с тем, как они говорят, что их никто не понимает, и они абсолютно не знают, что с этим делать! Я узнаю в них себя в том возрасте и хочу помочь. 
        p Я знаю, что с помощью правильных слов, мыслей и поступков, можно шаг за шагом выстроить здоровые и гармоничные отношения с близкими людьми, учась уважать интересы и потребности друг друга. 
