section.tutors(id="tutors")
  .tutors__container
    h2.tutors__title Наставники
    .tutors__list.tutors__list--active.js-tutors-content(data-simplebar)
      article.tutors__item(data-tab="tutor1")
        .tutors__img
          img(src="img/photo_7_1.png")
        h4.tutors__name Ангелина Исаева
        p.tutors__bio Британский государственный и политический деятель, в 1940—1945 премьер-министр Великобритании.
      article.tutors__item(data-tab="tutor2")
        .tutors__img
          img(src="img/photo_7_2.png")
        h4.tutors__name Валерий Астанчук
        p.tutors__bio Британский государственный и политический деятель, в 1940—1945 премьер-министр Великобритании.
      article.tutors__item(data-tab="tutor3")
        .tutors__img
          img(src="img/photo_7_3.png")
        h4.tutors__name Валентин Макеев
        p.tutors__bio Британский государственный и политический деятель, в 1940—1945 премьер-министр Великобритании.
      article.tutors__item(data-tab="tutor4")
        .tutors__img
          img(src="img/photo_7_4.png")
        h4.tutors__name Влад Никифоров
        p.tutors__bio Британский государственный и политический деятель, в 1940—1945 премьер-министр Великобритании.
    .tutors__list.js-tutors-content(data-simplebar)
      article.tutors__item(data-tab="tutor2")
        .tutors__img
          img(src="img/photo_7_2.png")
        h4.tutors__name Валерий Астанчук
        p.tutors__bio Британский государственный и политический деятель, в 1940—1945 премьер-министр Великобритании.
      article.tutors__item(data-tab="tutor3")
        .tutors__img
          img(src="img/photo_7_3.png")
        h4.tutors__name Валентин Макеев
        p.tutors__bio Британский государственный и политический деятель, в 1940—1945 премьер-министр Великобритании.
      article.tutors__item(data-tab="tutor4")
        .tutors__img
          img(src="img/photo_7_4.png")
        h4.tutors__name Влад Никифоров
        p.tutors__bio Британский государственный и политический деятель, в 1940—1945 премьер-министр Великобритании.
    .tutors__list.js-tutors-content(data-simplebar)s
      article.tutors__item(data-tab="tutor4")
        .tutors__img
          img(src="img/photo_7_3.png")
        h4.tutors__name Валентин Макеев
        p.tutors__bio Британский государственный и политический деятель, в 1940—1945 премьер-министр Великобритании.
      article.tutors__item(data-tab="tutor4")
        .tutors__img
          img(src="img/photo_7_4.png")
        h4.tutors__name Влад Никифоров
        p.tutors__bio Британский государственный и политический деятель, в 1940—1945 премьер-министр Великобритании.
