.results {
  padding: 58px 0 58px;
  background-color: $light-gray;
  background-image: url("../img/logo_white.png");
  background-position: center 50px;
  background-size: 330px auto;
  background-repeat: no-repeat;
  @media #{$desktop-widths} {
    padding-top: 73px;
    padding-bottom: 118px;
  }
  .swiper-container {
    max-width: 1108px;
    padding: 0 50px;
    box-sizing: border-box;
    position: relative;
    &:before,
    &:after {
      content: '';
      display: block;
      height: 100%;
      width: 50px;
      background-color: $light-gray;
      top: 0;
      position: absolute;
      z-index: 2;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
  .swiper-scrollbar {
    width: 300px;
    margin: 50px auto 0;
    height: 2px;
    background: rgba(0,0,0,.1);
    @media #{$mobile-widths} {
      width: 425px;
    }
    @media #{$tablet-widths} {
      width: 592px;
    }
  }

  .swiper-scrollbar-drag {
    width: 8px;
    height: 18px;
    background-color: transparent;
    cursor: pointer;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      border-radius: 50%;
      height: 8px;
      width: 8px;
      box-shadow: 0 0 2px 8px rgba($black, 0.15);
      background-color: $black;
      top: -3px;
    }

    &:hover {
      &:after {
        background-color: $red;
        box-shadow: 0 0 2px 8px rgba($red, 0.15);
      }
    }
    &:active {
      &:after {
        background-color: $red;
        box-shadow: 0 0 3px 6px rgba($red, 0.15);
      }
    }
  }
  .swiper-button-next {
    background-image: url("../img/navigation_left_black.png");
    height: 32px;
    width: 16px;
    right: 0px;
    margin-top: 0;
    z-index: 10;
    background-size: 16px 32px;
  }
  .swiper-button-prev {
    background-image: url("../img/navigation_right_black.png");
    height: 32px;
    width: 16px;
    left: 0px;
    margin-top: 0;
    background-size: 16px 32px;
  }
  .swiper-slide {
    width: 116px;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }

    @media #{$tablet-widths} {
      width: 146px;
    }
  }
  .swiper-button-next,
  .swiper-button-prev,
  .swiper-button-disabled {
    display: none;
  }
  @media #{$tablet-widths} {
    .results {
      background-size: 555px 550px;
    }
  }
  @media #{$desktop-widths} {
    .swiper-button-next,
    .swiper-button-prev {
      display: block;
    }
    .swiper-button-disabled {
      display: none;
    }
  }
}
.results__title {
  margin-top: 0;
  margin-bottom: 35px;
  font: 900 24px/32px $font-roboto;
  text-align: center;
  width: 100%;
  @media #{$desktop-widths} {
    margin-bottom: 55px;
    font: 900 36px/44px $font-roboto;
  }
}

.results__item {
  border-radius: 50%;
  width: 116px;
  height: 116px;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  @media #{$tablet-widths} {
    width: 146px;
    height: 146px;
  }
  & img {
    width: 100%;
    height: auto;
  }
}
.results__social {
  max-width: 1108px;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;

}

.results__social-link {
  text-decoration: none;
  margin-right: 15px;
  width: 28px;
  height: 28px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  &--vk {
    background-image: url("../img/vk-black.svg");
  }
  &--instagram {
    background-image: url("../img/instagram-black.svg");
  }
}
.results__social-tags {
  width: 50%;
  & a,
  .results__social-tag-link {
    display: block;
    text-align: right;
    font: 400 16px/24px $font-roboto;
    text-decoration: none;
    color: $black;
    margin-bottom: 5px;

  }
}
