.topic-program {
  background-color: $light-gray;
}
.topic-program__tabs {
  text-align: center;
  margin: 0 auto;
  box-shadow: inset 0 -2px 0 0  rgba($black, 0.2);
  padding: 0;
  justify-content: space-between;
  overflow-x: scroll;
  -ms-overflow-style: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
  height: 100%;

  @media #{$mobile-small-widths-only}
  {
      width: 300px;
  }
  @media #{$mobile-widths}
  {
      width: 424px;
  }

  @media #{$tablet-widths}
  {
      width: 744px;
  }

  @media #{$desktop-widths}
  {
      width: 1216px;

  }

  &::-webkit-scrollbar { display: none; height:0px; width: 0;background: transparent;}

  &-place,
  &-date {
    display: block;
    font: 400 14px/18px $font-roboto;
  }
  &-content {
    width: auto;
    padding: 32px 20px 24px;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
    &:hover {
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        border-radius: 2px;
        width: 100%;
        background-color: rgba($black, 0.5);
      }
    }
    &.current,
    &-active {
      color: rgba($black, 1);
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        border-radius: 2px;
        width: 100%;
        background-color: $red;
      }
      &:hover{
        &:after {
          background-color: $red;
        }
      }
    }
  }
  @media #{$desktop-widths} {
    &-place,
    &-date {
      letter-spacing: 0.4px;
      font: 400 16px/24px $font-roboto;
    }
    & .swiper-slide {
      padding: 36px 24px 23px;
    }
  }
}


.topic-program__content {
  overflow: hidden;
  margin: 0 auto;
}
.topic-program__content-list {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.topic-program__content-item {
  display: none;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  &.current {
    display: block;
  }
}
.topic {
  padding: 74px 0 41px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  width: 300px;
  @media #{$mobile-widths} {
    padding-right: 28px;
    padding-left: 28px;
    width: 424px;
  }
  @media #{$tablet-widths} {
    width: 512px;
  }
  @media #{$desktop-widths} {
    width: 1280px;
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 88px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    height: 700px;
    box-sizing: border-box;
  }
}
.topic__text {
  &-title,
  & h3 {
    font: 900 24px/32px $font-roboto;
    margin-bottom: 33px;
    margin-top: 0;
    width: 100%;
  }
  & p {
    margin-bottom: 24px;
    margin-top: 0;
    font: 400 16px/24px $font-roboto;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media #{$desktop-widths} {
    order: 2;
    width: 488px;
    &-title,
    & h3 {
      font: 900 36px/44px $font-roboto;
      margin-bottom: 25px;
    }
  }

}
.topic__text {
  margin-bottom: 79px;
  @media #{$desktop-widths} {
    margin-bottom: 0;
  }
}
.topic__images {
  & img {
    box-shadow: 0 5px 5px 0 #f3f3f3;
    width: 100%;
    height: auto;
  }
  @media #{$tablet-widths} {
    width: 512px;
  }
  @media #{$desktop-widths} {
    margin-right: 32px;
    order: 1;
    width: 592px;
    position: relative;
    & img{
      width: 390px;
      height: 300px;
    }
  }
}
.topic__image-back {
  display: none;
  @media #{$desktop-widths} {
    display: block;
    top: 0;
    left: 0;
  }
}
.topic__image-forward {
  @media #{$desktop-widths} {
    position: absolute;
    top: 240px;;
    left: 72px;
  }
}
