.tours{
  padding: 49px 0 55px;
  .swiper-wrapper {
    padding: 0;
  }
  .swiper-container {
    height: 100%;
    max-width: 1280px;
    padding-bottom: 57px;

  }
  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets{
    bottom: 2px;
  }
  .swiper-pagination-bullet-active-prev-prev,
  .swiper-pagination-bullet-active-next-next {
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
  }

  .swiper-pagination-bullet-active-prev,
  .swiper-pagination-bullet-active-next {
    width: 8px;
    height: 8px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  .swiper-pagination-bullet-active {
    background-color: $red;
  }
  .swiper-button-next,
  .swiper-button-prev {
    z-index: 1000;
    position: absolute;
    margin-top: 0;
    height: 352px;
    width: 64px;
    background-size: 20px 33px;
    top: 0px;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      background: linear-gradient(to right, transparent  0%, #000000 100%);
    }
  }
  .swiper-button-next {
    background-image: url("../img/navigation_right_white.png");
    right: 0;
    &:after {
      background: linear-gradient(to right, transparent  0%, #000000 100%);
    }
  }
  .swiper-button-disabled {
    display: none;
  }
  .swiper-button-prev {
    background-image: url("../img/navigation_left_white.png");
    left: 0px;
    &:after {
      background: linear-gradient(to right, #000000 0%, transparent 100%);
    }
  }

  @media #{$desktop-widths} {
    .swiper-slide img {
      margin: 0;
    }
    .swiper-button-prev,
    .swiper-button-next {
      height: 536px;
      width: 104px;
      background-size: 27px 44px;
    }
  }
}
.tours__container {
  width: 300px;
  @media #{$mobile-widths} {
    width: 424px;
  }

}
.tours__item {
  width: 296px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  margin-right: 10px;
  color: $white;
  &:last-child {
    margin-right: 0;
  }
  @media #{$tablet-widths} {
    margin-right: 40px;
    width: 300px;
  }
  @media #{$desktop-widths} {
    margin-right: 40px;
  }
}
.tours__item-wrapper {
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  width: 296px;
  height: 352px;
  padding: 50px 10px 25px;
  box-sizing: border-box;
  font-size: 0;
  line-height: 0;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  z-index: 2;
  & a {
    display: inline-block;
  }
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba($black, 0.2);

  }
  & img {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    z-index: 0;
    top: 0;
    filter: blur(1px);
    border-radius: 8px;
  }
}
.tours__text {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  z-index: 3;

}
.tours__date {
  font: 900 18px/26px $font-roboto;
  margin-bottom: 30px;
  display: block;
  letter-spacing: 0.4px;
}
.tours__place {
  font: 900 36px/44px $font-roboto;
  margin-top: 0;
  margin-bottom: 25px;
  display: block;
}
.tours__choose-btn {
  @include button();
  font: 900 18px/26px $font-roboto;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 184px;
  &:last-child {
    margin-bottom: 0;
  }
}
.tours__level {
  display: block;
  font: 400 16px/24px $font-roboto;
}


@media #{$tablet-widths} {
  .tours {
     padding: 83px 0 60px;
  }
  .tours__container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 744px;
    margin: 0 auto;
  }
  .tours__item {
    margin-bottom: 24px;
  }
  .tours__item-wrapper {

    padding: 84px 50px 65px;

  }
  .tours__text {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .tours__choose-btn {
    width: 240px;
  }
  .tours__place  {
    margin: auto 0;
    font: 900 24px/32px $font-roboto;
  }

}
@media #{$desktop-widths} {
  .tours {
     padding: 40px 0 90px;
  }
  .tours .swiper-container {
    padding-bottom: 33px;
  }
  .tours__container {
    width: 1216px;
  }
  .tours__item-wrapper {
    width: 448px;
    height: 536px;
    padding-top: 97px;
    padding-bottom: 98px;
  }
  .tours__item {
    width: 448px;
    height: 536px;
  }
  .tours__date {
    font: 900 24px/32px $font-roboto;
    margin-bottom: 0;
  }
  .tours__choose-btn {
    margin-bottom: 20px;
  }
  .tours__level {
    font: 400 18px/26px $font-roboto;
  }
  .tours__place  {
    font: 900 36px/44px $font-roboto;
  }

}
