.participate-popup
  .participate-popup__block
    button(type="button").participate-popup__button-close Закрыть
    span.participate-popup__level II ступень «Вызова»:
    span.participate-popup__name Казань и Йошкар-Ола
      
    .participate-popup__description
      
      .participate-popup__theme
        span.participate-popup__theme-name Тема
        span.participate-popup__theme-value Организаторские навыки

      .participate-popup__days
        span.participate-popup__days-name Даты
        span.participate-popup__days-value 14 июля — 26 июля 2018
      .participate-popup__price
        span.participate-popup__price-name Стоимость
        .participate-popup__price-text
          b.participate-popup__price-value 23 800 
          p.participate-popup__price-include В стоимость включены питание, проживание и программа.
          p.participate-popup__price-train Отдельно оплачиваются билеты на поезд — 
            b.participate-popup__price-train-value  7200 
            | ₽
    .participate-popup__form
      span.participate-popup__form-title Записаться
      input(type="text" placeholder="ФИО" required name="participate-name")
      input(type="text" placeholder="Телефон" required name="participate-phone")
      input(type="text" placeholder="E-mail" required name="participate-mail")
      input(type="text" placeholder="ФИО ребёнка" required name="participate-child-name")
      input(type="text" placeholder="Дата рождения ребёнка" required name="participate-child-birthday")

      button(type="button").participate-popup__comment-btn + Добавить комментарий
      textarea(name="participate-comment" id="participate-comment" rows="6" cols="40" placeholder="Ваш комментарий")
      .participate-popup__agreement
        input(type="checkbox" id="participate-policy")
        label(for="participate-policy") Я согласен с условиями оферты и политикой конфиденциальности
      .participate-popup__agreement
        input(type="checkbox" id="participate-subscribe")
        label(for="participate-subscribe") Я хочу получать письма с анонсами мероприятий и выездов проекта
      button(type="submit").participate-popup__submit-btn Записаться
