section.participate(id="participate")
  .participate__container
    h2.participate__title Принять участие
    article.participate__item
      img(src="img/card_program_9_2_background.jpg")
      .participate__text
        span.participate__date 24 марта — 1 апреля 2018
        h3.participate__place Минск
        button(type="button").participate__choose-btn Забронировать
        span.participate__level I ступень, для новичков
    article.participate__item
      img(src="img/card_program_9_2_background.jpg")
      .participate__text
        span.participate__date 24 марта — 1 апреля 2018
        h3.participate__place Минск
        button(type="button").participate__choose-btn Забронировать
        span.participate__level I ступень, для новичков
    article.participate__item
      img(src="img/card_program_9_3_background.jpg")
      .participate__text
        span.participate__date 24 марта — 1 апреля 2018
        h3.participate__place Поход в Хибины
        button(type="button").participate__choose-btn Забронировать
        span.participate__level I ступень, для новичков
    article.participate__item
      img(src="img/card_program_9_4_background.jpg")
      .participate__text
        span.participate__date 24 марта — 1 апреля 2018
        h3.participate__place Минск
        button(type="button").participate__choose-btn Забронировать
        span.participate__level I ступень, для новичков
    article.participate__item
      img(src="img/card_program_9_5_background.jpg")
      .participate__text
        span.participate__date 24 марта — 1 апреля 2018
        h3.participate__place Минск
        button(type="button").participate__choose-btn Забронировать
        span.participate__level I ступень, для новичков
    .participate__social
      p Помимо выездов мы часто устраиваем мероприятия в черте Петербурга. 
      p Обо всех событиях мы рассказываем в нашей группе VK и Инстаграмм:
      .participate__social-links
        a(href="https://vk.com/challengecampspb" aria-label="Мы в ВКонтакте").participate__social-link.participate__social-link--vk
        a(href="https://www.instagram.com/challengecampspb/" aria-label="Мы в Инстаграме").participate__social-link.participate__social-link--instagram
      i *А  еще там много фотографий, отзывов и видео с прошедших выездов :)
