section.about(id="about")
  .about__container
    .about__text
      h2.about__title Что такое «Вызов»?
      p «Вызов» - это выездной тренинг личностного роста, выявляющий сильные и слабые стороны подростков от&nbsp;14&nbsp;до&nbsp;17 лет. Этот вопрос очень важен, ведь именно осознание «на что я способен» помогает подростку определиться с профессией и понять, что он может сделать прямо сейчас для того, чтобы стать успешным в будущем.
      span.about__first-challenge Первый «Вызов» в 2018: 
      b.about__place Минск, 24 марта — 1 апреля
    .about__image
      img(src="img/photo_2_1.jpg" width="520" height="400" alt="Change picture")
