.success-popup
  button(type="button" aria-label="Закрыть").success-popup__button-close 
  .success-popup__block
    .success-popup__title Отправлено
    p.success-popup__place Мы получили вашу заявку и в ближайшее время свяжемся с вами!
