extends template

block title 
    title Вызов

block content
    // Header
    include header/header

    // Index main content
    main.index-page
      include about/about
      include tours/tours
      include topic-program/topic-program
      include results/results
      include questions/questions
      include tutors/tutors
      include photos/photos
      include participate/participate
      include connect/connect
      include contacts/contacts
      
    // Footer
    include footer/footer
    
    include tutors/tutors-popup
    include participate/participate-popup
    include questions/questions-popup
    include results/results-popup
    
    script(src='dist/jquery-3.2.1.min.js')
    
    script(src='dist/js/swiper.min.js')
    script(src="dist/jquery.inputmask.bundle.js")
    script(src="dist/phone.js")
    script(src="dist/phone-be.js")
    script(src="dist/phone-ru.js")
    script(src='dist/lightbox.js')
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrQGquFO67itPHJYXfwm1VXHXVNNkqLLs&callback=initMap" async defer)
    script(src='js/map.js')
    script(src='js/double-slider.js')
    script(src='js/main.js')
    script(src='js/events.js')
