section.contacts(id="contacts")
  .map(id="map")
  .contacts__block
    h2.contacts__title Адрес офиса
    p.contacts__address Санкт-Петербург, 
      br
      | Каменноостровский&nbsp;проспект,&nbsp;дом&nbsp;29
    span.contacts__time Пн-Пт: с 10:00 до 19:00
    a(href="tel:+7(981)7845058").contacts__phone +7 (981) 784-50-58
    a(href="https://www.google.co.id/maps/place/%D0%9A%D0%B0%D0%BC%D0%B5%D0%BD%D0%BD%D0%BE%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9+%D0%BF%D1%80.,+29,+%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3,+%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F,+197101/data=!4m2!3m1!1s0x4696315b38351057:0xab979317737190a?sa=X&ved=0ahUKEwjOz9WMxO_ZAhVFL48KHZjWBHQQ8gEIMTAA" target="_blank").contacts__show-on-map Показать на карте
