section.questions(id="questions")
  .questions__container
    h2.questions__title Важные вопросы

    .questions__block
        .questions__block-item.questions__block-item--current(id="question1")
          .questions__topic
            h3.questions__topic-title Проживание
            p Мы живем в комфортабельном коттедже недалеко от метро. 6-8 местное размещение. Коттедж находится под охраной. Других жильцов кроме нас в нем нет.
          .questions__topic
            h3.questions__topic-title Питание
            p Завтрак и ужин строго регламентированы по времени. Мы едим по предварительной договоренности в качественной столовой. На обед командам выдаются деньги, и они сами принимают решение где и во сколько пообедать.
        .questions__block-item(id="question2")
          .questions__topic
            h3.questions__topic-title Медицина
            p Мы живем в комфортабельном коттедже недалеко от метро. 6-8 местное размещение. Коттедж находится под охраной. Других жильцов кроме нас в нем нет.
          .questions__topic
            h3.questions__topic-title Безопасность
            p Завтрак и ужин строго регламентированы по времени. Мы едим по предварительной
        .questions__block-item(id="question3")
          .questions__topic
            h3.questions__topic-title Связь
            p Мы живем в комфортабельном коттедже недалеко от метро. 6-8 местное размещение. Коттедж находится под охраной. Других жильцов кроме нас в нем нет.
          .questions__topic
            h3.questions__topic-title Сопровождение
            p Завтрак и ужин строго регламентированы по времени. Мы едим по предварительной
    .questions__tabs
        button(type="button" data-tab="question1").questions__tab.questions__tab--current Проживание и Питание
        button(type="button" data-tab="question2").questions__tab Медицина и Безопасность
        button(type="button" data-tab="question3").questions__tab Связь и Сопровождение
    a(href="#").questions__form-link У меня вопрос
