section.tours(id="tours")
  .tours__container.swiper-container
    .swiper-wrapper
      article.tours__item.swiper-slide.js-tours-item
        img(src="img/card_program_9_1_background.jpg")
        .tours__text
          span.tours__date 24 марта — 1 апреля 2018
          h3.tours__place Минск
          a(href="#programs").tours__choose-btn.js-tour-btn Подробнее
          span.tours__level I ступень, для новичков
      article.tours__item.swiper-slide.js-tours-item
        img(src="img/card_program_9_2_background.jpg")
        .tours__text
          span.tours__date 24 марта — 1 апреля 2018
          h3.tours__place Минск
          a(href="#programs").tours__choose-btn.js-tour-btn Подробнее
          span.tours__level I ступень, для новичков
      article.tours__item.swiper-slide.js-tours-item
        img(src="img/card_program_9_3_background.jpg")
        .tours__text
          span.tours__date 24 марта — 1 апреля 2018
          h3.tours__place Поход в Хибины
          a(href="#programs").tours__choose-btn.js-tour-btn Подробнее
          span.tours__level I ступень, для новичков
      article.tours__item.swiper-slide.js-tours-item
        img(src="img/card_program_9_4_background.jpg")
        .tours__text
          span.tours__date 24 марта — 1 апреля 2018
          h3.tours__place Минск
          a(href="#programs").tours__choose-btn.js-tour-btn Подробнее
          span.tours__level I ступень, для новичков
      article.tours__item.swiper-slide.js-tours-item
        img(src="img/card_program_9_5_background.jpg")
        .tours__text
          span.tours__date 24 марта — 1 апреля 2018
          h3.tours__place Минск
          a(href="#programs").tours__choose-btn.js-tour-btn Подробнее
          span.tours__level I ступень, для новичков
      article.tours__item.swiper-slide.js-tours-item
        img(src="img/card_program_9_5_background.jpg")
        .tours__text
          span.tours__date 24 марта — 1 апреля 2018
          h3.tours__place Минск
          a(href="#programs").tours__choose-btn.js-tour-btn Подробнее
          span.tours__level I ступень, для новичков
    .swiper-pagination
