section.topic-program(id="programs")
  .topic-program__tabs.js-tours-tabs
    .topic-program__tabs-content.current.js-tours-tab(id="program1" data-tab="program-content1") 
      span.topic-program__tabs-place Минск,
      span.topic-program__tabs-date 24.01 — 01.04
    .topic-program__tabs-content.js-tours-tab(id="program2" data-tab="program-content2") 
      span.topic-program__tabs-place Минск и Брест,
      span.topic-program__tabs-date 01.07 — 12.07
    .topic-program__tabs-content.js-tours-tab(id="program3" data-tab="program-content3") 
      span.topic-program__tabs-place Казань и Йошкар-Ола,
      .topic-program__tabs-date 14.07 — 26.07
    .topic-program__tabs-content.js-tours-tab(id="program4" data-tab="program-content4") 
      span.topic-program__tabs-place Крым: Трансформация,
      span.topic-program__tabs-date 06.08 — 21.08
    .topic-program__tabs-content.js-tours-tab(id="program5" data-tab="program-content5") 
      span.topic-program__tabs-place Поход в Хибины,
      span.topic-program__tabs-date 16.08 — 27.08
    .topic-program__tabs-content.js-tours-tab(id="program6" data-tab="program-content6") 
      span.topic-program__tabs-place Минск,
      span.topic-program__tabs-date 24.06 — 01.04
  article.topic-program__content
    .topic-program__content-list
      .topic-program__content-item.js-tours-tab-content.current(id="program-content1")
        section.topic
          .topic__text(id="#pin2" data-stellar-ratio="2")
            h3.topic__text-title 1 Чему будет посвящен выезд в Минск?
            p Современная молодежь больше <b>не общается в реальном мире</b>. Коммуникаторы, телефоны, чаты и социальные сети стали тем местом, где подростки живут, встречаются, влюбляются и даже сорятся. Возможно, когда-нибудь люди перестанут покидать уютные жилища, и общение будет проходить только с помощью технических новинок прогресса.
            p На наш взгляд до тех времен еще все-таки далеко. Поэтому первая ступень проекта «Вызов» посвящена <b>развитию и тренировке навыков общения</b> в «реале».
          .topic__images
            img(src="img/photo_3_2.jpg" width="520" height="400").topic__image-back
            img(src="img/photo_3_2.jpg" width="520" height="400").topic__image-forward
        section.program
          h2.program__title Программа выезда
          .program__days
            .program__days-tabs.js-program-days-tabs
              .program__days-tabs-slide.js-program-days-tab.program__days-tabs-slide--current(data-tab="d5") 
                span.program__days-tabs-number День 1: 
                span.program__days-tabs-name День Взрослого Человека
              .program__days-tabs-slide.js-program-days-tab(data-tab="d54") 
                span.program__days-tabs-number День 2: 
                span.program__days-tabs-name День Взрослого Человека
              .program__days-tabs-slide.js-program-days-tab(data-tab="d55") 
                span.program__days-tabs-number День 3: 
                span.program__days-tabs-name День Взрослого Человека
              .program__days-tabs-slide.js-program-days-tab(data-tab="d56") 
                span.program__days-tabs-number День 4: 
                span.program__days-tabs-name День Взрослого Человека
              .program__days-tabs-slide.js-program-days-tab(data-tab="d57") 
                span.program__days-tabs-number День 5: 
                span.program__days-tabs-name День Взрослого Человека
              .program__days-tabs-slide.js-program-days-tab(data-tab="d58") 
                span.program__days-tabs-number День 6: 
                span.program__days-tabs-name День Взрослого Человека
              .program__days-tabs-slide.js-program-days-tab(data-tab="d7") 
                span.program__days-tabs-number День 7: 
                span.program__days-tabs-name Проект
              .program__days-tabs-slide.js-program-days-tab(data-tab="d6") 
                span.program__days-tabs-number День 8: 
                span.program__days-tabs-name Волонтерство

            .program__days-content
              .program__days-content-slide.program__days-content-slide--current(id="d5")
                .program__days-content-text
                  h4.program__days-content-title 
                    span.program__days-content-number День 1: 
                    span.program__days-content-name День Взрослого Человека
                  p Для того, чтобы жизнь была полноценной, взрослые люди постоянно пытаются <b>гармонизировать и уравновесить</b> разные сферы своей жизни. 
                  p Участникам предстоит прожить день взрослого успешного человека, в котором будет <b>гармонично сочетаться</b> время на карьеру, хобби, самообразование, спорт и так далее.
                  button(type="button").program__days-content-participate Принять участие
                img(src="img/photo_4_6.jpg" width="520" height="406")

              .program__days-content-slide(id="d54")
                .program__days-content-text
                  h4.program__days-content-title 
                    span.program__days-content-number День 2: 
                    span.program__days-content-name День Взрослого Человека
                  p Для того, чтобы жизнь была полноценной, взрослые люди постоянно пытаются <b>гармонизировать и уравновесить</b> разные сферы своей жизни. 
                  p Участникам предстоит прожить день взрослого успешного человека, в котором будет <b>гармонично сочетаться</b> время на карьеру, хобби, самообразование, спорт и так далее.
                  button(type="button").program__days-content-participate Принять участие
                img(src="img/photo_4_6.jpg" width="520" height="406")

              .program__days-content-slide(id="d55")
                .program__days-content-text
                  h4.program__days-content-title 
                    span.program__days-content-number День 3: 
                    span.program__days-content-name День Взрослого Человека
                  p Для того, чтобы жизнь была полноценной, взрослые люди постоянно пытаются <b>гармонизировать и уравновесить</b> разные сферы своей жизни. 
                  p Участникам предстоит прожить день взрослого успешного человека, в котором будет <b>гармонично сочетаться</b> время на карьеру, хобби, самообразование, спорт и так далее.
                  button(type="button").program__days-content-participate Принять участие
                img(src="img/photo_4_6.jpg" width="520" height="406")

              .program__days-content-slide(id="d56")
                .program__days-content-text
                  h4.program__days-content-title 
                    span.program__days-content-number День 4: 
                    span.program__days-content-name День Взрослого Человека
                  p Для того, чтобы жизнь была полноценной, взрослые люди постоянно пытаются <b>гармонизировать и уравновесить</b> разные сферы своей жизни. 
                  p Участникам предстоит прожить день взрослого успешного человека, в котором будет <b>гармонично сочетаться</b> время на карьеру, хобби, самообразование, спорт и так далее.
                  button(type="button").program__days-content-participate Принять участие
                img(src="img/photo_4_6.jpg" width="520" height="406")

              .program__days-content-slide(id="d57")
                .program__days-content-text
                  h4.program__days-content-title 
                    span.program__days-content-number День 5: 
                    span.program__days-content-name День Взрослого Человека
                  p Для того, чтобы жизнь была полноценной, взрослые люди постоянно пытаются <b>гармонизировать и уравновесить</b> разные сферы своей жизни. 
                  p Участникам предстоит прожить день взрослого успешного человека, в котором будет <b>гармонично сочетаться</b> время на карьеру, хобби, самообразование, спорт и так далее.
                  button(type="button").program__days-content-participate Принять участие
                img(src="img/photo_4_6.jpg" width="520" height="406")
              .program__days-content-slide(id="d58")
                .program__days-content-text
                  h4.program__days-content-title 
                    span.program__days-content-number День 6: 
                    span.program__days-content-name День Взрослого Человека
                  p Для того, чтобы жизнь была полноценной, взрослые люди постоянно пытаются <b>гармонизировать и уравновесить</b> разные сферы своей жизни. 
                  p Участникам предстоит прожить день взрослого успешного человека, в котором будет <b>гармонично сочетаться</b> время на карьеру, хобби, самообразование, спорт и так далее.
                  button(type="button").program__days-content-participate Принять участие
                img(src="img/photo_4_6.jpg" width="520" height="406")
              .program__days-content-slide(id="d7")
                .program__days-content-text
                  h4.program__days-content-title 
                    span.program__days-content-number День 7: 
                    span.program__days-content-name День Взрослого Человека
                  p Для того, чтобы жизнь была полноценной, взрослые люди постоянно пытаются <b>гармонизировать и уравновесить</b> разные сферы своей жизни. 
                  p Участникам предстоит прожить день взрослого успешного человека, в котором будет <b>гармонично сочетаться</b> время на карьеру, хобби, самообразование, спорт и так далее.
                  button(type="button").program__days-content-participate Принять участие
                img(src="img/photo_4_6.jpg" width="520" height="406")
              .program__days-content-slide(id="d6")
                .program__days-content-text
                  h4.program__days-content-title 
                    span.program__days-content-number День 8: 
                    span.program__days-content-name День Взрослого Человека
                  p Для того, чтобы жизнь была полноценной, взрослые люди постоянно пытаются <b>гармонизировать и уравновесить</b> разные сферы своей жизни. 
                  p Участникам предстоит прожить день взрослого успешного человека, в котором будет <b>гармонично сочетаться</b> время на карьеру, хобби, самообразование, спорт и так далее.
                  button(type="button").program__days-content-participate Принять участие
                img(src="img/photo_4_6.jpg" width="520" height="406")
        
      .topic-program__content-item.js-tours-tab-content(id="program-content2")
        section.topic
          .topic__text
            h3.topic__text-title 2 Чему будет посвящен выезд в Минск?
            p Современная молодежь больше <b>не общается в реальном мире</b>. Коммуникаторы, телефоны, чаты и социальные сети стали тем местом, где подростки живут, встречаются, влюбляются и даже сорятся. Возможно, когда-нибудь люди перестанут покидать уютные жилища, и общение будет проходить только с помощью технических новинок прогресса.
            p На наш взгляд до тех времен еще все-таки далеко. Поэтому первая ступень проекта «Вызов» посвящена <b>развитию и тренировке навыков общения</b> в «реале».
          .topic__images
            img(src="img/photo_3_2.jpg" width="520" height="400").topic__image-back
            img(src="img/photo_3_2.jpg" width="520" height="400").topic__image-forward
        section.program
          h2.program__title Программа выезда
          .program__days
            .program__days-tabs.js-program-days-tabs
              .program__days-tabs-slide.js-program-days-tab.program__days-tabs-slide--current(data-tab="d1") 
                span.program__days-tabs-number День 1: 
                span.program__days-tabs-name День Взрослого Человека
              .program__days-tabs-slide.js-program-days-tab(data-tab="d2") 
                span.program__days-tabs-number День 2: 
                span.program__days-tabs-name Проект
              .program__days-tabs-slide.js-program-days-tab(data-tab="d3") 
                span.program__days-tabs-number День 3: 
                span.program__days-tabs-name Волонтерство
            .program__days-content
              .program__days-content-slide.program__days-content-slide--current(id="d1")
                .program__days-content-text
                  h4.program__days-content-title 
                    span.program__days-content-number День 6: 
                    span.program__days-content-name День Взрослого Человека
                  p Для того, чтобы жизнь была полноценной, взрослые люди постоянно пытаются <b>гармонизировать и уравновесить</b> разные сферы своей жизни. 
                  p Участникам предстоит прожить день взрослого успешного человека, в котором будет <b>гармонично сочетаться</b> время на карьеру, хобби, самообразование, спорт и так далее.
                  button(type="button").program__days-content-participate Принять участие
                img(src="img/photo_4_6.jpg" width="520" height="406")
              .program__days-content-slide(id="d2")
                .program__days-content-text
                  h4.program__days-content-title 
                    span.program__days-content-number День 7: 
                    span.program__days-content-name День Взрослого Человека
                  p Для того, чтобы жизнь была полноценной, взрослые люди постоянно пытаются <b>гармонизировать и уравновесить</b> разные сферы своей жизни. 
                  p Участникам предстоит прожить день взрослого успешного человека, в котором будет <b>гармонично сочетаться</b> время на карьеру, хобби, самообразование, спорт и так далее.
                  button(type="button").program__days-content-participate Принять участие
                img(src="img/photo_4_6.jpg" width="520" height="406")
              .program__days-content-slide(id="d3")
                .program__days-content-text
                  h4.program__days-content-title 
                    span.program__days-content-number День 8: 
                    span.program__days-content-name День Взрослого Человека
                  p Для того, чтобы жизнь была полноценной, взрослые люди постоянно пытаются <b>гармонизировать и уравновесить</b> разные сферы своей жизни. 
                  p Участникам предстоит прожить день взрослого успешного человека, в котором будет <b>гармонично сочетаться</b> время на карьеру, хобби, самообразование, спорт и так далее.
                  button(type="button").program__days-content-participate Принять участие
                img(src="img/photo_4_6.jpg" width="520" height="406")
      .topic-program__content-item.js-tours-tab-content(id="program-content3")
        section.topic
          .topic__text
            h3.topic__text-title 3 Чему будет посвящен выезд в Минск?
            p Современная молодежь больше <b>не общается в реальном мире</b>. Коммуникаторы, телефоны, чаты и социальные сети стали тем местом, где подростки живут, встречаются, влюбляются и даже сорятся. Возможно, когда-нибудь люди перестанут покидать уютные жилища, и общение будет проходить только с помощью технических новинок прогресса.
            p На наш взгляд до тех времен еще все-таки далеко. Поэтому первая ступень проекта «Вызов» посвящена <b>развитию и тренировке навыков общения</b> в «реале».
          .topic__images
            img(src="img/photo_3_2.jpg" width="520" height="400").topic__image-back
            img(src="img/photo_3_2.jpg" width="520" height="400").topic__image-forward
        section.program
          h2.program__title Программа выезда
          .program__days
            .program__days-tabs.js-program-days-tabs
              .program__days-tabs-slide.js-program-days-tab.program__days-tabs-slide--current(data-tab="d8") 
                span.program__days-tabs-number День 2: 
                span.program__days-tabs-name День Взрослого Человека
              .program__days-tabs-slide.js-program-days-tab(data-tab="d9") 
                span.program__days-tabs-number День 3: 
                span.program__days-tabs-name Проект
              .program__days-tabs-slide.js-program-days-tab(data-tab="d10") 
                span.program__days-tabs-number День 4: 
                span.program__days-tabs-name Волонтерство

            .program__days-content
              .program__days-content-slide.program__days-content-slide--current(id="d8")
                .program__days-content-text
                  h4.program__days-content-title 
                    span.program__days-content-number День 2: 
                    span.program__days-content-name День Взрослого Человека
                  p Для того, чтобы жизнь была полноценной, взрослые люди постоянно пытаются <b>гармонизировать и уравновесить</b> разные сферы своей жизни. 
                  p Участникам предстоит прожить день взрослого успешного человека, в котором будет <b>гармонично сочетаться</b> время на карьеру, хобби, самообразование, спорт и так далее.
                  button(type="button").program__days-content-participate Принять участие
                img(src="img/photo_4_6.jpg" width="520" height="406")
              .program__days-content-slide(id="d9")
                .program__days-content-text
                  h4.program__days-content-title 
                    span.program__days-content-number День 3: 
                    span.program__days-content-name День Взрослого Человека
                  p Для того, чтобы жизнь была полноценной, взрослые люди постоянно пытаются <b>гармонизировать и уравновесить</b> разные сферы своей жизни. 
                  p Участникам предстоит прожить день взрослого успешного человека, в котором будет <b>гармонично сочетаться</b> время на карьеру, хобби, самообразование, спорт и так далее.
                  button(type="button").program__days-content-participate Принять участие
                img(src="img/photo_4_6.jpg" width="520" height="406")
              .program__days-content-slide(id="d10")
                .program__days-content-text
                  h4.program__days-content-title 
                    span.program__days-content-number День 4: 
                    span.program__days-content-name День Взрослого Человека
                  p Для того, чтобы жизнь была полноценной, взрослые люди постоянно пытаются <b>гармонизировать и уравновесить</b> разные сферы своей жизни. 
                  p Участникам предстоит прожить день взрослого успешного человека, в котором будет <b>гармонично сочетаться</b> время на карьеру, хобби, самообразование, спорт и так далее.
                  button(type="button").program__days-content-participate Принять участие
                img(src="img/photo_4_6.jpg" width="520" height="406")
      .topic-program__content-item.js-tours-tab-content(id="program-content4")
        section.topic
          .topic__text
            h3.topic__text-title 4 Чему будет посвящен выезд в Минск?
            p Современная молодежь больше <b>не общается в реальном мире</b>. Коммуникаторы, телефоны, чаты и социальные сети стали тем местом, где подростки живут, встречаются, влюбляются и даже сорятся. Возможно, когда-нибудь люди перестанут покидать уютные жилища, и общение будет проходить только с помощью технических новинок прогресса.
            p На наш взгляд до тех времен еще все-таки далеко. Поэтому первая ступень проекта «Вызов» посвящена <b>развитию и тренировке навыков общения</b> в «реале».
          .topic__images
            img(src="img/photo_3_2.jpg" width="520" height="400").topic__image-back
            img(src="img/photo_3_2.jpg" width="520" height="400").topic__image-forward
        section.program
          h2.program__title Программа выезда
          .program__days
            .program__days-tabs.js-program-days-tabs
              .program__days-tabs-slide.js-program-days-tab.js-program-days-tabs(data-tab="d11") 
                span.program__days-tabs-number День 2: 
                span.program__days-tabs-name День Взрослого Человека
              .program__days-tabs-slide.js-program-days-tab(data-tab="d12") 
                span.program__days-tabs-number День 3: 
                span.program__days-tabs-name Проект
              .program__days-tabs-slide.js-program-days-tab(data-tab="d13") 
                span.program__days-tabs-number День 4: 
                span.program__days-tabs-name Волонтерство

            .program__days-content
              .program__days-content-slide.program__days-content-slide--current(id="d11")
                .program__days-content-text
                  h4.program__days-content-title 
                    span.program__days-content-number День 2: 
                    span.program__days-content-name День Взрослого Человека
                  p Для того, чтобы жизнь была полноценной, взрослые люди постоянно пытаются <b>гармонизировать и уравновесить</b> разные сферы своей жизни. 
                  p Участникам предстоит прожить день взрослого успешного человека, в котором будет <b>гармонично сочетаться</b> время на карьеру, хобби, самообразование, спорт и так далее.
                  button(type="button").program__days-content-participate Принять участие
                img(src="img/photo_4_6.jpg" width="520" height="406")
              .program__days-content-slide(id="d12")
                .program__days-content-text
                  h4.program__days-content-title 
                    span.program__days-content-number День 3: 
                    span.program__days-content-name День Взрослого Человека
                  p Для того, чтобы жизнь была полноценной, взрослые люди постоянно пытаются <b>гармонизировать и уравновесить</b> разные сферы своей жизни. 
                  p Участникам предстоит прожить день взрослого успешного человека, в котором будет <b>гармонично сочетаться</b> время на карьеру, хобби, самообразование, спорт и так далее.
                  button(type="button").program__days-content-participate Принять участие
                img(src="img/photo_4_6.jpg" width="520" height="406")
              .program__days-content-slide(id="d13")
                .program__days-content-text
                  h4.program__days-content-title 
                    span.program__days-content-number День 4: 
                    span.program__days-content-name День Взрослого Человека
                  p Для того, чтобы жизнь была полноценной, взрослые люди постоянно пытаются <b>гармонизировать и уравновесить</b> разные сферы своей жизни. 
                  p Участникам предстоит прожить день взрослого успешного человека, в котором будет <b>гармонично сочетаться</b> время на карьеру, хобби, самообразование, спорт и так далее.
                  button(type="button").program__days-content-participate Принять участие
                img(src="img/photo_4_6.jpg" width="520" height="406")
      .topic-program__content-item.js-tours-tab-content(id="program-content5")
        section.topic
          .topic__text
            h3.topic__text-title 5 Чему будет посвящен выезд в Минск?
            p Современная молодежь больше <b>не общается в реальном мире</b>. Коммуникаторы, телефоны, чаты и социальные сети стали тем местом, где подростки живут, встречаются, влюбляются и даже сорятся. Возможно, когда-нибудь люди перестанут покидать уютные жилища, и общение будет проходить только с помощью технических новинок прогресса.
            p На наш взгляд до тех времен еще все-таки далеко. Поэтому первая ступень проекта «Вызов» посвящена <b>развитию и тренировке навыков общения</b> в «реале».
          .topic__images
            img(src="img/photo_3_2.jpg" width="520" height="400").topic__image-back
            img(src="img/photo_3_2.jpg" width="520" height="400").topic__image-forward
        section.program
          h2.program__title Программа выезда
          .program__days
            .program__days-tabs.js-program-days-tabs
              .program__days-tabs-slide.js-program-days-tab.program__days-tabs-slide--current(data-tab="d14") 
                span.program__days-tabs-number День 2: 
                span.program__days-tabs-name День Взрослого Человека
              .program__days-tabs-slide.js-program-days-tab(data-tab="d15") 
                span.program__days-tabs-number День 3: 
                span.program__days-tabs-name Проект
              .program__days-tabs-slide.js-program-days-tab(data-tab="d16") 
                span.program__days-tabs-number День 4: 
                span.program__days-tabs-name Волонтерство

            .program__days-content
              .program__days-content-slide.program__days-content-slide--current(id="d14")
                .program__days-content-text
                  h4.program__days-content-title 
                    span.program__days-content-number День 2: 
                    span.program__days-content-name День Взрослого Человека
                  p Для того, чтобы жизнь была полноценной, взрослые люди постоянно пытаются <b>гармонизировать и уравновесить</b> разные сферы своей жизни. 
                  p Участникам предстоит прожить день взрослого успешного человека, в котором будет <b>гармонично сочетаться</b> время на карьеру, хобби, самообразование, спорт и так далее.
                  button(type="button").program__days-content-participate Принять участие
                img(src="img/photo_4_6.jpg" width="520" height="406")
              .program__days-content-slide(id="d15")
                .program__days-content-text
                  h4.program__days-content-title 
                    span.program__days-content-number День 3: 
                    span.program__days-content-name День Взрослого Человека
                  p Для того, чтобы жизнь была полноценной, взрослые люди постоянно пытаются <b>гармонизировать и уравновесить</b> разные сферы своей жизни. 
                  p Участникам предстоит прожить день взрослого успешного человека, в котором будет <b>гармонично сочетаться</b> время на карьеру, хобби, самообразование, спорт и так далее.
                  button(type="button").program__days-content-participate Принять участие
                img(src="img/photo_4_6.jpg" width="520" height="406")
              .program__days-content-slide(id="d16")
                .program__days-content-text
                  h4.program__days-content-title 
                    span.program__days-content-number День 4: 
                    span.program__days-content-name День Взрослого Человека
                  p Для того, чтобы жизнь была полноценной, взрослые люди постоянно пытаются <b>гармонизировать и уравновесить</b> разные сферы своей жизни. 
                  p Участникам предстоит прожить день взрослого успешного человека, в котором будет <b>гармонично сочетаться</b> время на карьеру, хобби, самообразование, спорт и так далее.
                  button(type="button").program__days-content-participate Принять участие
                img(src="img/photo_4_6.jpg" width="520" height="406")
      .topic-program__content-item.js-tours-tab-content(id="program-content6")
        section.topic
          .topic__text
            h3.topic__text-title 6 Чему будет посвящен выезд в Минск?
            p Современная молодежь больше <b>не общается в реальном мире</b>. Коммуникаторы, телефоны, чаты и социальные сети стали тем местом, где подростки живут, встречаются, влюбляются и даже сорятся. Возможно, когда-нибудь люди перестанут покидать уютные жилища, и общение будет проходить только с помощью технических новинок прогресса.
            p На наш взгляд до тех времен еще все-таки далеко. Поэтому первая ступень проекта «Вызов» посвящена <b>развитию и тренировке навыков общения</b> в «реале».
          .topic__images
            img(src="img/photo_3_2.jpg" width="520" height="400").topic__image-back
            img(src="img/photo_3_2.jpg" width="520" height="400").topic__image-forward
        section.program
          h2.program__title Программа выезда
          .program__days
            .program__days-tabs.js-program-days-tabs
              .program__days-tabs-slide.js-program-days-tab.program__days-tabs-slide--current(data-tab="d17") 
                span.program__days-tabs-number День 2: 
                span.program__days-tabs-name День Взрослого Человека
              .program__days-tabs-slide.js-program-days-tab(data-tab="d18") 
                span.program__days-tabs-number День 3: 
                span.program__days-tabs-name Проект
              .program__days-tabs-slide.js-program-days-tab(data-tab="d19") 
                span.program__days-tabs-number День 4: 
                span.program__days-tabs-name Волонтерство

            .program__days-content
              .program__days-content-slide.program__days-content-slide--current(id="d17")
                .program__days-content-text
                  h4.program__days-content-title 
                    span.program__days-content-number День 2: 
                    span.program__days-content-name День Взрослого Человека
                  p Для того, чтобы жизнь была полноценной, взрослые люди постоянно пытаются <b>гармонизировать и уравновесить</b> разные сферы своей жизни. 
                  p Участникам предстоит прожить день взрослого успешного человека, в котором будет <b>гармонично сочетаться</b> время на карьеру, хобби, самообразование, спорт и так далее.
                  button(type="button").program__days-content-participate Принять участие
                img(src="img/photo_4_6.jpg" width="520" height="406")
              .program__days-content-slide(id="d18")
                .program__days-content-text
                  h4.program__days-content-title 
                    span.program__days-content-number День 3: 
                    span.program__days-content-name День Взрослого Человека
                  p Для того, чтобы жизнь была полноценной, взрослые люди постоянно пытаются <b>гармонизировать и уравновесить</b> разные сферы своей жизни. 
                  p Участникам предстоит прожить день взрослого успешного человека, в котором будет <b>гармонично сочетаться</b> время на карьеру, хобби, самообразование, спорт и так далее.
                  button(type="button").program__days-content-participate Принять участие
                img(src="img/photo_4_6.jpg" width="520" height="406")
              .program__days-content-slide(id="d19")
                .program__days-content-text
                  h4.program__days-content-title 
                    span.program__days-content-number День 4: 
                    span.program__days-content-name День Взрослого Человека
                  p Для того, чтобы жизнь была полноценной, взрослые люди постоянно пытаются <b>гармонизировать и уравновесить</b> разные сферы своей жизни. 
                  p Участникам предстоит прожить день взрослого успешного человека, в котором будет <b>гармонично сочетаться</b> время на карьеру, хобби, самообразование, спорт и так далее.
                  button(type="button").program__days-content-participate Принять участие
                img(src="img/photo_4_6.jpg" width="520" height="406")
